<% layout('layouts/boilerplate') %>
<div id="cluster-map-list"></div>
<div class="container">
    <h1 class="my-3">All Playgrounds</h1>

    <div class="accordion mb-3" id="equipmentAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Filter results by equipment
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" 
                data-bs-parent="#equipmentAccordion">

                <% const totalPages = 1 %>
                <% const currentPage = 1 %>
                
                    <% for (value of equipment) { %>
                    <input type="checkbox" class="equipmentFilter" value="<%= value %>" onclick="moi()"
                        <% for (filter of filters) { %>
                                <% console.log(filter) %>
                            <% if (filter == value) { %>
                                checked
                            <% } %>
                        <% } %> >
                        <%= value %></input>
                    <% } %>
                
            </div>
        </div>
    </div>
    
    

    <% for (let playground of playgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (playground.images.length) { %>
                <img class="img-fluid" alt="" src="<%= playground.images[0].url %>">
                <% } else { %>
                <img class="img-fluid" alt="" 
                    src="https://res.cloudinary.com/dzmcq4kiz/image/upload/w_200/v1609147256/Playgrounds/sample.jpg">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= playground.title %></h5>
                    <p class="card-text"><%= playground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= playground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/playgrounds/<%= playground._id %>">
                        View <%= playground.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <% if (totalPages && totalPages > 0) { %>
        <nav aria-label="page navigation">            
            <ul class="pagination">
                <% if (currentPage == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item page-item"><a class="page-link" href="/playgrounds/list/1">First</a></li>
                <% } %>
                <% let i = (Number(currentPage) > 3 ? Number(currentPage) - 2 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(currentPage) + 2) && i <= totalPages; i++) { %>
                    <% if (i == currentPage) { %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/playgrounds/list/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(currentPage) + 2 && i < totalPages) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
                <% if (currentPage == totalPages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/playgrounds/list/<%= totalPages %>">Last</a></li>
                <% } %>
            </ul>
        </nav>
    <% } %>
</div>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const playgrounds = {features: <%- JSON.stringify(playgrounds) %>} ;
</script>

<script src="/javascripts/clusterMapList.js"></script>
<!-- <script type="text/javascript" src="/javascripts/filterResults.js"></script> -->
<script>
    function moi() {


        let equipment2 = document.getElementsByClassName('equipmentFilter');

        let test2 = '<%-filters%>'
        
        console.log(test2);
        // console.log(filters);
    }

</script>